<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="product_mapper_xml">
 	<insert id="insert_product" parameterType="kr.hs.study.dto.productDTO">
 	   insert into product(productId, productName, productPrice, productDesc, productUrl) 
 	   values(seq_product.nextval, #{productName}, #{productPrice}, #{productDesc}, #{productUrl})
 	</insert>
 	<select id="selectall_product" resultType="kr.hs.study.dto.productDTO">
 		select * from product order by productId
 	</select>
 	<select id="select_product" resultType="kr.hs.study.dto.productDTO">
 		select * from product where productId = #{productId}
 	</select>
 	
 	<insert id="insert_cart" parameterType="kr.hs.study.dto.cartDTO">
 		insert into cart(cart_id, product_id, amount)
 		values(seq_cartid.nextval, #{product_id}, #{amount})
 	</insert>
 	
 	<select id="select_cart" resultType="map">
 		select p.productName, c.amount, p.productPrice*c.amount as total
 		from product p, cart c
 		where p.productId = c.product_id
 		order by c.cart_id
 	</select>
 </mapper>      
